body {
    background-color: #b8d4ef;
    margin: 0;
    font-family: Arial;
}

.heading {
    display: flex;
    width: 100%;
    background: linear-gradient(
        to bottom,
        #77BAFF 0%,
        #5AA7F6 50%,
        #4196EE 100%
    );
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.description {
 margin-left: 50px;
 margin-right: 50px;
    font-size: 16px;
}


.end {
    width: 100%;
    background: linear-gradient(
        to bottom,
        #1E579A 0%,
        #236FB8 25%,
        #2988D7 50%,
        #2380CF 51%,
        #529DDA 75%,
        #77B5E6 100%
    );
    color: white;
    margin-top: 50px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}

