body {
  
  background-color: #b8d4ef;
 
}



.heading {
  display: flex;

  width: 100%;
    background: linear-gradient(
    to bottom,
    #77BAFF 0%,
    #5AA7F6 50%,
    #4196EE 100%
  );
  
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #5DD4EF;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}


.main {

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.circuit .calc {
  padding: 20px;
}
.circuit {
  
  order: 1;
}
.calc {
  background-color: #CFE2F3;
  order: 2;
}
img {
  display: flex;
  max-width: 600px;
  background-color: #b8d4ef;
  
}


button {
  background-color: #4196EE;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #236FB8; 

}



.block-item{
  align-items: center;
}

.note{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
     font-size: 18px;

}



.end {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #1E579A 0%,
    #236FB8 25%,
    #2988D7 50%,
    #2380CF 51%,
    #529DDA 75%,
    #77B5E6 100%
  );
  color: white;
  margin-top: 0; 
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}


@media screen and (max-width: 992px) 
{


 .main {
 flex-direction: column;
 align-items: center;
}
}